.App {
  text-align: center;
  display: flex;
}
.control-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.control {
  margin: 5px;
  width: 100px;
}
.control-header {
  margin: 5px;
  width: 100px;
  background-color: gray;
}
.area1 {
  margin-left: 90px;
  margin-top: 10px;
  position: absolute;
  background-color: aqua;
  border: solid 0px;
  border-radius: 4px;
}

.area2 {
  margin-left: 340px;
  margin-top: 10px;
  position: absolute;
  background-color: aqua;
  border: solid 0px;
  border-radius: 4px;
}
.area3 {
  margin-left: 90px;
  margin-top: 470px;
  position: absolute;
  background-color: aqua;
  border: solid 0px;
  border-radius: 4px;
}

.area4 {
  margin-left: 340px;
  margin-top: 470px;
  position: absolute;
  background-color: aqua;
  border: solid 0px;
  border-radius: 4px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
